[submodule "module/Max"]
	path = module/Max
	url = http://git.max.si/tip2/max
[submodule "module/Stevilcenje"]
	path = module/Stevilcenje
	url = http://git.max.si/ifigenija/stevilcenje
[submodule "module/Zapisi"]
	path = module/Zapisi
	url = http://git.max.si/tip2/zapisi
[submodule "module/Jobs"]
	path = module/Jobs
	url = https://git.max.si/tip2/jobs
