/vendor/
/config/autoload/local.php
/config/autoload/local.*.php
/nbproject/private/
/node_modules/
**/autoload_classmap.php
/tests/acceptance.suite.yml
/tests/_output/
/tests/api.suite.yml
.DS_Store
/data/
