/vendor/
/bin/dumpStage.sh
/config/autoload/local.php
/config/autoload/local.*.php
/nbproject/private/
/node_modules/
autoload_classmap.php
acceptance.suite.yml
/tests/_output/
api.suite.yml
.DS_Store
/data/
