## YAML Template.
---
type: rest
entityClass: Produkcija\Entity\VrstaStroska
forms:
    default: 
        elements:
#            - id
            - skupina
            - podskupina
            - naziv
            - opis
lists:
    default: 
        hydrator:
            exclude: []
        filter: 
            elements: 
                - name: q
                  type: text
                  options:
                    required: false
                    placeholder: Išči..
                    label: Išči
                - name: skupina
                  type: text
                  options:
                    required: false
                    placeholder: Išči po skupinah..
                    label: Skupina/Podskupina
      