## YAML Template.
---
type: rest
entityClass: Produkcija\Entity\Funkcija
forms:
    default: 
        elements:
#            - id
            - podrocje
            - naziv
            - velikost
            - pomembna
            - sort
#            - alternacije
            - uprizoritev 
            - privzeti
            - tipFunkcije
lists:
    default: 
        filter:
            elements:                 
                - name: uprizoritev
                  type: toone
                  options:
                      label: Uprizoritev
                      targetEntity: Produkcija\Entity\Uprizoritev
                      required: true
        hydrator:
            - exclude: []
    vse: 
        filter:
