## YAML Template.
---
type: rest
entityClass: ProgramDela\Entity\ProdukcijaDelitev
forms:
    default: 
        elements:
#            - id
#            - odstotekFinanciranja     # se izračuna glede na delez
            - delez        
            - enotaPrograma
            - koproducent
#            - maticniKop   # se nastavi glede na koproducenta
#            - kpe
    
#    če enota programa premiera, je polje KPE aktualno
    premiera: 
        elements:
            - delez        
            - enotaPrograma
            - koproducent
            - kpe
lists:
    default: 
#        filter:
#            elements:                 
#                - name: enotaPrograma
#                  type: toone
#                  options:
#                      label: Enota programa
#                      targetEntity: ProgramDela\Entity\EnotaPrograma
#                      required: true
        hydrator:
            lookups: [ koproducent ]
#    vse: 
#        filter:
          

    