## YAML Template.
---
type: rest
entityClass: Produkcija\Entity\Besedilo
forms:
    default: 
        elements:
            - naslov
            - podnaslov
            - jezik
            - naslovIzvirnika
            - podnaslovIzvirnika
            - datumPrejema
            - moskeVloge
            - zenskeVloge
            - povzetekVsebine
            - letoIzida
            - krajIzida
            - zaloznik
            - internacionalniNaslov
            - name: stevilka
              options: 
                  required: false
        hydrator:
            byValue:
                - avtorji
            lookups:
                - avtorji.oseba
                - avtorji.besedilo
lists:
    default: 
        filter:
            elements:
                - name: q
                  type: text
                  options: 
                      required: false
                      placeholder: Išči..
                      label: Išči
                - name: avtor
                  type: text
                  options: 
                      required: false
                      placeholder: Vpiši avtorja..
                      label: Avtor
        hydrator:
            virtual:
                - imena
                
#    vse: 
#        filter:
