## YAML Template.
---
type: rest
entityClass: Produkcija\Entity\Alternacija
forms:
    default: 
        elements:
#            - id
            - name: sifra
              options: 
                  required: false
            - zaposlen
            - funkcija
            - sodelovanje
            - oseba
            - koprodukcija
            - pogodba
    default: 
        hydrator:
            - exclude: []
lists:
    default: 
        filter:
            elements:                 
                - name: funkcija
                  type: toone
                  options:
                      label: Funkcija
                      targetEntity: Produkcija\Entity\Funkcija
                      required: true
        hydrator:
            - exclude: []
    vse: 
        filter: