## YAML Template.
---
type: rest
entityClass: Produkcija\Entity\Pogodba
forms:
    default: 
        elements:
#            - id
            - name: sifra
              options:
                  required: false
            - vrednostVaje
            - vrednostVaj
            - placiloNaVajo
            - vrednostPredstave
            - planiranoSteviloVaj
            - aktivna
            - opis
            - alternacija
            - oseba
            - popa
            - trr
            - zacetek
            - konec
#            - vrednostDoPremiere
            - zaposlenVDrJz
lists:
    default: 
        filter:
            elements:                 
                - name: oseba
                  type: toone
                  options:
                      label: Oseba
                      targetEntity: App\Entity\Oseba
                      required: false
                - name: popa
                  type: toone
                  options:
                      label: Partner
                      targetEntity: App\Entity\Popa
                      required: false
#                - name: trr        # $$ rb ali je to tudi v default view-ju ali v namenskem?
#                  type: toone
#                  options:
#                      label: Trr
#                      targetEntity: App\Entity\Trr
#                      required: false
                - name: alternacija
                  type: toone
                  options:
                      label: Alternacija
                      targetEntity: Produkcija\Entity\Alternacija
                      required: false
                - name: uprizoritev
                  type: toone
                  options:
                      label: Uprizoritev
                      targetEntity: Produkcija\Entity\Uprizoritev
                      required: false

    vse: 
        filter:
hydrator:
    lookups: [oseba, popa, alternacija]