## YAML Template.
---
type: rest
entityClass: Produkcija\Entity\Zaposlitev
forms:
    default: 
        elements:
#            - id
            - status
            - zacetek
            - konec
            - tip
            - delovnaObveza
            - malica
            - izmenskoDelo
            - individualnaPogodba
            - jeZaposlenVdrugemJz
            - jeNastopajoci
#            - alternacije
            - oseba
lists:
    default: 
        filter:
            elements:                 
                - name: oseba
                  type: toone
                  options:
                      label: Oseba
                      targetEntity: App\Entity\Oseba
                      required: false
#                - name: alternacije    # $$ rb ali v namenskem view-u?
#                  type: toone
#                  options:
#                      label: Alternacije
#                      targetEntity: Produkcija\Entity\Alternacija
#                      required: false
        hydrator:
            exclude: []
            lookups: [ oseba ]
    vse: 
        filter:
        hydrator:
            exclude: []
            lookups: [ oseba ]        
relation:
    default:
        alternacije:
            enabled: true
            hydrator:
                exclude: []    