## YAML Template.
---
type: rest
entityClass: Produkcija\Entity\Uprizoritev
forms:
    default: 
        elements:
#            - id
            - name: sifra
              options: 
                  required: false
            - faza
            - naslov
            - podnaslov
            - delovniNaslov
            - datumZacStudija
            - datumPremiere
            - maticniOder
            - stOdmorov
            - avtor
            - gostujoca
            - trajanje
            - opis
            - arhIdent
            - arhOpomba
            - datumZakljucka
            - sloAvtor
            - kratkiNaslov
            - name: maticniProstor
              type: multiselect
              options: 
                  multiple: false
#            - koprodukcije
#            - funkcije
#            - arhiv
#            - rekviziterstva
#            - vaje
#            - predstave
#            - gostujoce
            - besedilo
            - zvrstUprizoritve
            - zvrstSurs
        hydrator: 
            - lookups: [besedilo]
lists:
    default: 
        filter:
            elements:                 
                - name: besedilo
                  type: toone
                  options:
                      label: Besedilo
                      targetEntity: Produkcija\Entity\Besedilo
                      required: true
        hydrator:
            - exclude: []
    vse: 
        filter:
relation:
    default:
        koprodukcije:
            enabled: true
            hydrator:
                exclude: []    
        funkcije:
            enabled: true
            hydrator:
                exclude: []    
        arhivi:
            enabled: true
            hydrator:
                exclude: []    
        rekviziterstva:
            enabled: true
            hydrator:
                exclude: []    
        vaje:
            enabled: true
            hydrator:
                exclude: []    
        predstave:
            enabled: true
            hydrator:
                exclude: []    
        gostujoce:
            enabled: true
            hydrator:
                exclude: []    