## YAML Template.
---
type: rest
entityClass: Produkcija\Entity\Alternacija
forms:
    default: 
        elements:
#            - id
            - name: sifra
              options: 
                  required: false
            - zaposlen
            - funkcija
            - sodelovanje
            - oseba
            - koprodukcija
            - pogodba 
        hydrator:
            lookups: [oseba]
            
lists:
    default: 
        filter:
            elements:                 
                - name: funkcija
                  type: toone
                  options:
                      label: Funkcija
                      targetEntity: Produkcija\Entity\Funkcija
                      required: false
        hydrator:
            lookups: [oseba]
    vse: 
        filter:
            elements: 
                - name: q
                  type: Text
                - name: uprizoritev
                  type: toone
                  options:
                      label: Uprizoritev
                      targetEntity: Produkcija\Entity\Uprizoritev
                      required: false
                - name: funkcija
                  type: toone
                  options:
                      label: Funkcija
                      targetEntity: Produkcija\Entity\Funkcija
                      required: false
        hydrator: 
            lookups: [funkcija, koprodukcija, pogodba, oseba]
                