## YAML Template.
---
type: rest
entityClass: Produkcija\Entity\Zaposlitev
forms:
    default: 
        perm-update: OsebniPodatki-write  
        perm-delete: OsebniPodatki-write
        perm-create: OsebniPodatki-write 
        perm-read: OsebniPodatki-read
        elements:
#            - id
            - status
            - name: sifra
              options: 
                  required: false
            - zacetek
            - konec
#            - tip      # zaenkrat izven forme, ker nimamo definiranih vrednosti
            - delovnaObveza
            - delovnoMesto
#            - malica   # zaenkrat izven forme, ker nimamo definiranih vrednosti
            - izmenskoDelo
            - individualnaPogodba
            - jeZaposlenVdrugemJz
            - jeNastopajoci
#            - alternacije
            - organizacijskaEnota
#            - vodjaOrganizacijskihEnot
#            - namestnikOrganizacijskihEnot
            - oseba
        hydrator:
            lookups: [ oseba ]
    vse:
        perm-update: OsebniPodatki-write  
        perm-delete: OsebniPodatki-write
        perm-create: OsebniPodatki-write 
        perm-read: OsebniPodatki-read
        link: default
lists:
    default: 
        perm: OsebniPodatki-read
        filter:
            elements:                 
                - name: organizacijskaenota
                  type: toone
                  options:
                      label: Organizacijska enota
                      targetEntity: App\Entity\OrganizacijskaEnota
                      required: false             
                - name: oseba
                  type: toone
                  options:
                      label: Oseba
                      targetEntity: App\Entity\Oseba
                      required: false
        hydrator:
            exclude: []
            lookups: [ oseba ]
    vse: 
        perm: OsebniPodatki-read
        filter:
            elements:
                - name: q
                  type: text
                  options: 
                    label: Oseba
                - name: delovno
                  type: text
                  options:
                    label: Delovno mesto
                - name: status
                  type: multiselect
                  options:
                      label: Status
                      multiple: true
                      required: false
                      value_options: @zaposlitev.status 
                    
        hydrator:
            exclude: []
            lookups: [ oseba ]        
relation:
    default:
        alternacije:
            perm-read: OsebniPodatki-read
            enabled: true
            hydrator:
                exclude: []    
