## YAML Template.
---
type: rest
entityClass: Produkcija\Entity\Besedilo
forms:
    default: 
        elements:
#            - id
            - naslov
            - avtor
            - podnaslov
            - jezik
            - naslovIzvirnika
            - datumPrejema
            - moskeVloge
            - zenskeVloge
            - prevajalec
            - povzetekVsebine
            - letoIzida
            - krajIzida
            - zaloznik
            - internacionalniNaslov
lists:
    default: 
        filter:
        hydrator:
            - exclude: []
#    vse: 
#        filter:
