## YAML Template.
---
type: rest
entityClass: Produkcija\Entity\Pogodba
forms:
    default: 
        elements:
#            - id
            - sifra
            - vrednostVaje
            - vrednostPredstave
            - vrednostUre
            - aktivna
            - opis
#            - alternacije
            - oseba
            - popa
            - trr
            - vrednostDo
            - zacetek
            - konec
            - vrednostDoPremiere
            - zaposlenVDrJz
lists:
    default: 
        filter:
            elements:                 
                - name: oseba
                  type: toone
                  options:
                      label: Oseba
                      targetEntity: App\Entity\Oseba
                      required: false
                - name: popa
                  type: toone
                  options:
                      label: Partner
                      targetEntity: App\Entity\Popa
                      required: false
#                - name: trr        # $$ rb ali je to tudi v default view-ju ali v namenskem?
#                  type: toone
#                  options:
#                      label: Trr
#                      targetEntity: App\Entity\Trr
#                      required: false
                - name: alternacije  # $$ rb ali je to tudi v default view-ju ali v namenskem?
                  type: toone
                  options:
                      label: Alternacije
                      targetEntity: Produkcija\Entity\Alternacija
                      required: false
                - name: uprizoritev  # $$ rb ali je to tudi v default view-ju ali v namenskem?
                  type: toone
                  options:
                      label: Uprizoritev
                      targetEntity: Produkcija\Entity\Uprizoritev
                      required: false                                            

    vse: 
        filter:
hydrator:
    lookups: [oseba, popa]
relation:
    default:
        alternacije:
            enabled: true
            hydrator:
                exclude: []
            
    