## YAML Template.
---
type: rest
entityClass: Produkcija\Entity\StrosekUprizoritve
forms:
    default: 
        elements:
#            - id
            - naziv
            - vrednostDo
            - vrednostNa
            - opis
            - tipstroska
            - vrstaStroska
            - sort
            - uprizoritev
            - popa
lists:
    default: 
        filter:
            elements:                 
                - name: uprizoritev
                  type: toone
                  options:
                      label: Uprizoritev
                      targetEntity: Produkcija\Entity\Uprizoritev
                      required: true
        hydrator:
            lookups: [ popa ]
#    vse: 
#        filter:
#        hydrator:
#            lookups: [ popa ]
