## YAML Template.
---
type: rest
entityClass: Produkcija\Entity\ProdukcijskaHisa
forms:
    default: 
        elements:
#            - id
            - status
            - name: sifra
              options: 
                  required: false
            - popa
#            - koprodukcije
lists:
    default: 
        filter:
            elements:                 
                - name: popa
                  type: toone
                  options:
                      label: Partner
                      targetEntity: App\Entity\Popa
                      required: true
#                - name: koprodukcije       # $$ rb ali bomo naredili v namenskem view-u?
#                  type: tomany
#                  options:
#                      label: Koprodukcije
#                      targetEntity: Produkcija\Entity\ProdukcijaDelitev
#                      required: false
        hydrator:
            - exclude: []
    vse: 
        filter:
relation:
    default:
        koprodukcije:
            enabled: true
            hydrator:
                exclude: []