## YAML Template.
---
type: rest
entityClass: Produkcija\Entity\ZvrstSurs
forms:
    default: 
        elements:
#            - id
            - name: sifra
              options: 
                  required: false
            - naziv
            - opis
lists:
    default: 
        hydrator:
            - exclude: []
    vse:
        filter: