## YAML Template.
---
type: rest
entityClass: Produkcija\Entity\Rekviziterstvo
forms:
    default: 
        elements:
#            - id
            - namenUporabe
            - opisPostavitve
            - rekvizit
            - uprizoritev
lists:
    default: 
        filter:
        hydrator:
            - exclude: []
    vse: 
        filter:
