## YAML Template.
---
type: rest
entityClass: Produkcija\Entity\Zaposlitev
forms:
    default: 
        elements:
#            - id
            - status
            - name: sifra
              options: 
                  required: false
            - zacetek
            - konec
#            - tip      # zaenkrat izven forme, ker nimamo definiranih vrednosti
            - delovnaObveza
#            - malica   # zaenkrat izven forme, ker nimamo definiranih vrednosti
            - izmenskoDelo
            - individualnaPogodba
            - jeZaposlenVdrugemJz
            - jeNastopajoci
#            - alternacije
            - oseba
    vse:
        link: default
lists:
    default: 
        filter:
            elements:                 
                - name: oseba
                  type: toone
                  options:
                      label: Oseba
                      targetEntity: App\Entity\Oseba
                      required: false
        hydrator:
            exclude: []
            lookups: [ oseba ]
    vse: 
        filter:
        hydrator:
            exclude: []
            lookups: [ oseba ]        
relation:
    default:
        alternacije:
            enabled: true
            hydrator:
                exclude: []    
