## YAML Template.
---
type: rest
entityClass: Koledar\Entity\DogodekIzven
forms:
    default: 
        elements:
#            - id
            - dogodek
lists:
    default: 
        filter:
            elements:                 
                - name: dogodek
                  type: toone
                  options:
                      label: Dogodek
                      targetEntity: Koledar\Entity\Dogodek
                      required: true
        hydrator:
            - exclude: []
    vse: 
        filter: