## YAML Template.
---
type: rest
entityClass: Koledar\Entity\Zasedenost
forms:
    default: 
        elements:
#            - id
            - dogodek
lists:
    default: 
        filter:
        hydrator:
            - exclude: []
    vse: 
        filter: