## YAML Template.
---
type: rest
entityClass: Koledar\Entity\Dogodek
forms:
    default: 
        elements:
#            - id
            - planiranZacetek
            - allDay
            - zacetek
            - konec
            - status
            - razred
            - termin
            - title
            - predstava
            - zasedenost
            - vaja
            - gostovanje
            - splosni
            - prostor
#            - arhivi
#            - terminiStoritve
#            - prodajaPredstave
            - sezona
lists:
    default: 
        filter:
            elements:                 
                - name: prostor
                  type: toone
                  options:
                      label: Prostor
                      targetEntity: Prodaja\Entity\Prostor
                      required: false
                - name: zacetek
                  type: text
                  options:
                      label: Za훾etek
                      required: false
                - name: konec
                  type: text
                  options:
                      label: Za훾etek
                      required: false
    vse: 
        filter:
            elements:                 
                - name: prostor
                  type: toone
                  options:
                      label: Prostor
                      targetEntity: Prodaja\Entity\Prostor
                      required: false
                - name: zacetek
                  type: text
                  options:
                      label: Za훾etek
                      required: false
                - name: konec
                  type: text
                  options:
                      label: Za훾etek
                      required: false
        hydrator:
            - exclude: []
#    vse: 
#        filter:
relation:
    default:
        arhivi:
            enabled: true
            hydrator:
                exclude: []            
        terminiStoritve:
            enabled: true
            hydrator:
                exclude: []                            