## YAML Template.
---
type: rest
entityClass: ProgramDela\Entity\ProgramIzjemni
forms:
    default: 
        elements:
#            - id
            - naziv
#            - celotnaVrednost
            - nasDelez
            - zaproseno
#            - lastnaSredstva
            - avtorskiHonorarji
            - avtorskiHonorarjiSamoz
            - tantieme
            - avtorskePravice
            - materialni
#            - drugiViri
#            - vlozekGostitelja      
            - drugiJavni
            - obiskDoma          # $$ morda tudi to damo ven iz forme, ker ni vezano na uprizoritev
            - obiskGost
            - obiskZamejo
            - obiskInt
            - ponoviDoma        # $$ morda tudi to damo ven iz forme, ker ni vezano na uprizoritev
            - ponoviZamejo
            - ponoviGost
            - ponoviInt
#            - uprizoritev
#            - tipProgramskeEnote
            - dokument
            - sort
            - stZaposlenih
#            - stDrugih
            - stHonorarnih
            - stHonorarnihIgr
            - stHonorarnihIgrTujJZ
            - stHonorarnihIgrSamoz
            - imaKoprodukcije
        hydrator:
#            byValue: [ uprizoritev ]
            byValue: [ ]
lists:
    default: 
        hydrator:
            - exclude: []
    vse: 
        hydrator:
            - exclude: []            
relation:
    default:
        drugiViri:
            enabled: true
            hydrator:
                exclude: [] 
            