## YAML Template.
---
type: rest
entityClass: ProgramDela\Entity\ProgramPonovitevPrejsnjih
forms:
    default: 
        elements:
#            - id
#            - celotnaVrednost
#            - celotnaVrednostMat
            - celotnaVrednostGostovSZ
#            - nasDelez
            - avtorskiHonorarji
            - avtorskiHonorarjiSamoz
            - tantieme
#            - avtorskePravice
            - materialni
            - zaproseno
#            - drugiViri
            - vlozekGostitelja      
            - drugiJavni
#            - lastnaSredstva
            - obiskDoma
            - obiskKopr
            - ponoviZamejo
            - ponoviKoprZamejo
            - ponoviGost
            - ponoviKoprGost
            - obiskZamejo
            - obiskKoprZamejo
            - obiskGost
            - obiskKoprGost
#            - obiskInt
            - ponoviDoma
            - ponoviKopr
#            - ponoviInt
            - uprizoritev
            - tipProgramskeEnote
            - dokument
            - sort
#            - stZaposlenih
            - stZaposUmet
            - stZaposDrug
            - stHonorarnihZun
            - stHonorarnihZunIgr
            - stHonorarnihZunIgrTujJZ
            - stHonorarnihZunSamoz
#            - koprodukcije
        hydrator:
            lookups: 
                - uprizoritev
            byValue:
                - drugiViri
                - koprodukcije
            virtual:
                - koprodukcije.naziv
lists:
    default: 
        hydrator:
            exclude: []
#    vse: 
#        hydrator:
#            exclude: []            
relation:
    default:
        drugiViri:
            enabled: true
            hydrator:
                exclude: [] 
        koprodukcije:
            enabled: true
            hydrator:
                exclude: [] 
            