## YAML Template.
---
type: rest
entityClass: ProgramDela\Entity\ProgramGostujoca
forms:
    default: 
        elements:
#            - id
#            - celotnaVrednost
#            - nasDelez
            - strosekOdkPred
            - stroskiOstali
            - zaproseno
#            - lastnaSredstva
#            - avtorskiHonorarji
#            - tantieme
#            - avtorskePravice
#            - drugiViri
#            - vlozekGostitelja      
            - drugiJavni
            - obiskDoma
#            - obiskGost
#            - obiskZamejo
#            - obiskInt
            - ponoviDoma
#            - ponoviZamejo
#            - ponoviGost
#            - ponoviInt
            - uprizoritev
#            - tipProgramskeEnote
            - imaKoprodukcije
            - dokument
            - sort
#            - stZaposlenih
#            - stZaposUmet
#            - stZaposDrug
#            - stHonorarnih
#            - stHonorarnihIgr
#            - stHonorarnihIgrTujJZ
        hydrator:
            lookups: 
                - uprizoritev
            byValue:
                - drugiViri
                - koprodukcije
            virtual:
                - koprodukcije.naziv
lists:
    default: 
        hydrator:
            - exclude: []
    vse: 
        hydrator:
            - exclude: []            
relation:
    default:
        drugiViri:
            enabled: true
            hydrator:
                exclude: [] 
        koprodukcije:
            enabled: true
            hydrator:
                exclude: [] 
            