## YAML Template.
---
type: rest
entityClass: ProgramDela\Entity\ProgramGostovanje
forms:
    default: 
        elements:
#            - id
            - uprizoritev
            - krajGostovanja
            - drzavaGostovanja
            - ustanova
            - datumGostovanja
            - ponoviInt
            - obiskKoprInt
            - obiskInt
            - ponoviKoprInt
#            - celotnaVrednost
#            - nasDelez
            - vlozekGostitelja
            - tantieme
            - materialni
#            - avtorskePravice
            - avtorskiHonorarji
            - avtorskiHonorarjiSamoz
            - zaproseno
            - transportniStroski
            - dnevPrvZad
#            - lastnaSredstva
#            - drugiViri
            - drugiJavni
            - imaKoprodukcije
            - dokument
            - gostitelj
            - sort
        hydrator:
            lookups: 
                - uprizoritev
                - gostitelj
            byValue:
                - drugiViri
                - koprodukcije
            virtual:
                - koprodukcije.naziv
            
lists:
    default: 
        hydrator:
            - exclude: []
    vse: 
        hydrator:
            - exclude: []
relation:
    default:
        drugiViri:
            enabled: true
            hydrator:
                exclude: [] 
        koprodukcije:
            enabled: true
            hydrator:
                exclude: [] 
            