## YAML Template.
---
type: rest
entityClass: ProgramDela\Entity\ProgramGostovanje
forms:
    default: 
        elements:
#            - id
            - uprizoritev
            - krajGostovanja
            - drzavaGostovanja
            - ustanova
            - datumGostovanja
            - ponoviInt
            - obiskInt
#            - celotnaVrednost
            - nasDelez
            - vlozekGostitelja
            - tantieme
            - materialni
            - avtorskePravice
            - avtorskiHonorarji
            - avtorskiHonorarjiSamoz
            - zaproseno
            - transportniStroski
            - dnevPrvZad
#            - lastnaSredstva
#            - drugiViri
            - drugiJavni
            - imaKoprodukcije
            - dokument
            - gostitelj
            - sort
        hydrator:
            byValue: [ uprizoritev, gostitelj ]
            
lists:
    default: 
        hydrator:
            - exclude: []
    vse: 
        hydrator:
            - exclude: []
relation:
    default:
        drugiViri:
            enabled: true
            hydrator:
                exclude: [] 
            