## YAML Template.
---
type: rest
entityClass: ProgramDela\Entity\ProgramGostujoca
forms:
    default: 
        elements:
#            - id
            - celotnaVrednost
            - nasDelez
            - zaproseno
            - lastnaSredstva
#            - avtorskiHonorarji
#            - tantieme
#            - drugiViri
#            - vlozekGostitelja      
#            - vlozekKoproducenta
            - drugiJavni
            - obiskDoma
#            - obiskGost
#            - obiskZamejo
#            - obiskInt
            - ponoviDoma
#            - ponoviZamejo
#            - ponoviGost
#            - ponoviInt
            - utemeljitev
            - uprizoritev
#            - tipProgramskeEnote
            - dokument
            - sort
#            - stZaposlenih
#            - stZaposUmet
#            - stZaposDrug
#            - stHonorarnih
#            - stHonorarnihIgr
#            - stHonorarnihIgrTujJZ
        hydrator:
            byValue: [ uprizoritev ]
lists:
    default: 
        hydrator:
            - exclude: []
    vse: 
        hydrator:
            - exclude: []            
relation:
    default:
        drugiViri:
            enabled: true
            hydrator:
                exclude: [] 
            