## YAML Template.
---
type: rest
entityClass: ProgramDela\Entity\ProgramPremiera
forms:
    default: 
        elements:
#            - id
            - celotnaVrednost
            - zaproseno
            - lastnaSredstva
            - avtorskiHonorarji
            - tantieme
            - drugiViri
            - drugiJavni
#            - obiskDoma
#            - obiskGost
#            - obiskZamejo
#            - obiskInt
#            - ponoviDoma
#            - ponoviZamejo
#            - ponoviGost
#            - ponoviInt
            - utemeljitev
            - uprizoritev
            - tipProgramskeEnote
            - dokument
        hydrator:
            lookups: 
                - uprizoritev
lists:
    default: 
        hydrator:
            exclude: []
    vse: 
        hydrator:
            exclude: []