## YAML Template.
---
type: rest
entityClass: ProgramDela\Entity\ProgramFestival
forms:
    default: 
        elements:
#            - id
            - programDela
            - naziv
            - zvrst
            - stPredstav
            - stOkroglihMiz
            - stPredstavitev
            - stDelavnic
            - stDrugiDogodki
            - opredelitevDrugiDogodki
            - stProdukcij
            - obiskDoma
            - casPriprave
            - casIzvedbe
            - prizorisca
            - umetVodja
            - programskoTelo
            - soorganizatorji
            - stTujihSelektorjev
            - stZaposlenih
            - stHonorarnih
            - zaproseno
#            - celotnaVrednost
            - nasDelez
#            - lastnaSredstva
#            - drugiViri
            - drugiJavni
            - sort
            - imaKoprodukcije
lists:
    default: 
        hydrator:
            - exclude: []
    vse: 
        hydrator:
            - exclude: []
relation:
    default:
        drugiViri:
            enabled: true
            hydrator:
                exclude: [] 
            