## YAML Template.
---
type: rest
entityClass: ProgramDela\Entity\ProgramFestival
forms:
    default: 
        elements:
#            - id
            - programDela
            - naziv
            - zvrst
            - stPredstav
            - stPredavanj
            - stPredstavitev
            - stDelavnic
            - stDrugiDogodki
            - opredelitevDrugiDogodki
            - stProdukcij
            - stObisk
            - casPriprave
            - casIzvedbe
            - prizorisca
            - umetVodja
            - programskoTelo
            - soorganizatorji
            - stTujihSelektorjev
            - stZaposlenih
            - stHonorarnih
            - zaproseno
            - celotnaVrednost
            - lastnaSredstva
            - drugiViri
            - opredelitevDrugiViri
            - vlozekKoproducenta
            - drugiJavni
lists:
    default: 
        hydrator:
            - exclude: []
    vse: 
        hydrator:
            - exclude: []