## YAML Template.
---
type: rest
entityClass: ProgramDela\Entity\ProgramPonovitevPremiere
forms:
    default: 
        elements:
#            - id
            - celotnaVrednost
            - zaproseno
            - lastnaSredstva
            - avtorskiHonorarji
            - tantieme
#            - drugiViri
            - vlozekGostitelja      
            - vlozekKoproducenta
            - drugiJavni
            - obiskDoma
            - obiskGost
            - obiskZamejo
            - obiskInt
            - ponoviDoma
            - ponoviZamejo
            - ponoviGost
#            - ponoviInt
            - utemeljitev
            - uprizoritev
            - tipProgramskeEnote
            - dokument
            - sort
#            - stZaposlenih
#            - stDrugih
#            - stHonorarnih
#            - stHonorarnihIgr
#            - stHonorarnihIgrTujJZ
#            - koprodukcije
        hydrator:
            lookups: 
                - uprizoritev
lists:
    default: 
        hydrator:
            exclude: []
    vse: 
        hydrator:
            exclude: []            
relation:
    default:
        drugiViri:
            enabled: true
            hydrator:
                exclude: [] 
        koprodukcije:
            enabled: true
            hydrator:
                exclude: [] 
            