## YAML Template.
---
type: rest
entityClass: ProgramDela\Entity\ProgramRazno
forms:
    default: 
        elements:
#            - id
            - dokument
            - naziv
            - naslovPE
            - avtorPE
            - obsegPE
            - mesecPE
            - vrednostPE
            - stPE
            - soorganizator
            - obiskDoma
            - stZaposlenih
            - stHonorarnih
            - zaproseno
            - celotnaVrednost
            - lastnaSredstva
#            - drugiViri
            - drugiJavni
            - sort
        hydrator:
            byValue: [ soorganizator ]
lists:
    default: 
        hydrator:
            - exclude: []
    vse: 
        hydrator:
            - exclude: []
relation:
    default:
        drugiViri:
            enabled: true
            hydrator:
                exclude: [] 
            