## YAML Template.
---
type: rest
entityClass: ProgramDela\Entity\PostavkaCDve
forms:
    default: 
        elements:
#            - id
#            - programDela
            - skupina
            - podskupina
            - naziv
            - vrPremiere
            - vrPonovitvePremier
            - vrPonovitvePrejsnjih
            - vrGostovanjaZamejstvo
            - vrFestivali
            - vrGostovanjaInt
            - vrOstalo
lists:
    default: 
        hydrator:
            virtual:
                - razred
        filter: 
            elements: 
                - name: q
                  type: text
                  options:
                    required: false
                    placeholder: Išči..
                    label: Išči
                - name: skupina
                  type: text
                  options:
                    required: false
                    placeholder: Išči po skupini
                    label: Skupina
                - name: podskupina
                  type: text
                  options:
                    required: false
                    placeholder: Išči po podskupini
                    label: Podskupina
                - name: programDela
                  type: toone
                  options:
                      label: ProgramDela
                      targetEntity: ProgramDela\Entity\ProgramDela
                      required: false
             