## YAML Template.
---
type: rest
entityClass: ProgramDela\Entity\ProgramDela
forms:
    default: 
        elements:
#            - id
            - name: sifra
              options:
                  required: false
            - naziv
            - zacetek
            - konec
#            - zakljuceno        # polje ne sme biti v formi! nastavlja se le z RPC klicem!
            - potrjenProgram
#            - premiere
#            - ponovitvePremiere
#            - ponovitvePrejsnjih
#            - izjemni
#            - programiFestival
#            - programiRazno
#            - gostujoci
#            - gostovanja
            - sezona
#            - stPremier
#            - stPonPrej
#            - stPonPrejVelikih
#            - stPonPrejMalih
#            - stPonPrejMalihKopr
#            - stPonPrejSredKopr
#            - stPonPrejVelikihKopr
#            - vrPS1
#            - vrPS1Do
#            - vrPS1Mat
#            - vrPS1GostovSZ
#            - stNekomerc
#            - stIzvPonPrem
#            - stIzvPrej
#            - stIzvGostuj
#            - stIzvOstalihNek
#            - stGostovanjSlo
#            - stGostovanjZam
#            - stGostovanjInt
#            - stObiskNekom
#            - stObiskNekomMat
#            - stObiskNekomGostSlo
#            - stObiskNekomGostZam
#            - stObiskNekomGostInt
#            - avgObiskPrired
            - avgZasedDvoran
            - avgCenaVstopnice
            - stProdVstopnic
#            - stKoprodukcij
#            - stKoprodukcijInt
#            - stKoprodukcijNVO
            - stZaposlenih     
            - stZaposIgralcev  
            - avgStNastopovIgr 
#            - stHonorarnih
#            - stHonorarnihIgr
#            - stHonorarnihIgrTujJZ
#            - sredstvaInt
#            - sredstvaAvt
        hydrator:
            lookups: 
                - premiere.uprizoritev
                - ponovitvePremiere.uprizoritev
                - ponovitvePrejsnjih.uprizoritev
                - izjemni.uprizoritev
                - gostujoci.uprizoritev
                - gostovanja.gostitelj
                - programiRazno.soorganizator
            byValue: 
                - premiere
                - ponovitvePremiere
                - ponovitvePrejsnjih
                - izjemni
                - programiFestival
                - programiRazno
                - gostujoci
                - gostovanja
                - premiere.drugiViri
                - premiere.koprodukcije
            virtual:
                - premiere.koprodukcije.naziv
lists:
    default: 
        hydrator:
            exclude: []
    vse: 
        hydrator:
            exclude: []
    seznam:
        hydrator:
            byValue: []
            exclude: 
                - sifra
                - premiere
                - ponovitvePremiere
                - ponovitvePrejsnjih
                - izjemni
                - programiFestival
                - programiRazno
                - gostujoci
                - gostovanja
                - avgZasedDvoran
                - avgCenaVstopnice
                - stProdVstopnic
                - stZaposlenih
                - stZaposIgralcev
                - avgStNastopovIgr
                - stHonorarnih
                - stHonorarnihIgr
                - stHonorarnihIgrTujJZ
                - stHonorarnihIgrSamoz
                - sredstvaInt
relation:
    default:
        premiere:
            enabled: true
            hydrator:
                exclude: []    
        ponovitvePremiere:
            enabled: true
            hydrator:
                exclude: []    
        ponovitvePrejsnjih:
            enabled: true
            hydrator:
                exclude: []    
        izjemni:
            enabled: true
            hydrator:
                exclude: []    
        programiFestival:
            enabled: true
            hydrator:
                exclude: []    
        gostujoci:
            enabled: true
            hydrator:
                exclude: []    
        gostovanja:
            enabled: true
            hydrator:
                exclude: []    
        programiRazno:
            enabled: true
            hydrator:
                exclude: []    
            