## YAML Template.
---
type: rest
entityClass: ProgramDela\Entity\ProgramPremiera
forms:
    default: 
        elements:
#            - id
#            - celotnaVrednost
            - nasDelez
            - zaprosenProcent 
#            - zaproseno
            - lastnaSredstva
            - avtorskiHonorarji
            - tantieme
#            - drugiViri
#            - vlozekGostitelja      
            - vlozekKoproducenta
            - drugiJavni
#            - obiskDoma
#            - obiskGost
#            - obiskZamejo
#            - obiskInt
#            - ponoviDoma
#            - ponoviZamejo
#            - ponoviGost
#            - ponoviInt
            - utemeljitev
            - uprizoritev
            - tipProgramskeEnote
            - dokument
            - sort
#            - stZaposlenih
            - stZaposUmet
            - stZaposDrug
            - stHonorarnih
            - stHonorarnihIgr
            - stHonorarnihIgrTujJZ
#            - koprodukcije
        hydrator:
            lookups: 
                - uprizoritev
            byValue:
                - drugiViri
                - koprodukcije
            virtual:
                - koprodukcije.naziv
lists:
    default: 
        hydrator:
            exclude: []
    vse: 
        hydrator:
            exclude: []
relation:
    default:
        drugiViri:
            enabled: true
            hydrator:
                exclude: [] 
        koprodukcije:
            enabled: true
            hydrator:
                exclude: [] 
                