## YAML Template.
---
entityClass: Aaa\Entity\User
permPrefix: Aaa
#disabledMethods: 
#    - delete
#    - create
#    - update
forms:
    default:
        elements:
#            - id
            - name
            - password
            - enabled
#            - roles
            - expires
            - defaultRoute
            - defaultRouteParams
            - email
#            - lastLogon
#            - passRestToken
#            - tokenExpires
lists:
    default: 
        hydrator:
            - exclude: []
hydrator:
    exclude: 
        - builtIn
relation:
    default:
        roles:
            enabled: true
            hydrator:
                exclude: []

