## YAML Template.
---
entityClass: Aaa\Entity\Role
permPrefix: Aaa
#disabledMethods: 
#    - delete
#    - create
#    - update
forms:
    default:
        elements:
            - name
            - description
lists:
    default:
hydrator:
    exclude: 
        - builtIn