## YAML Template.
---
type: rest
entityClass: Prodaja\Entity\Prostor
forms:
    default: 
        elements:
#            - id
            - name: sifra
              options: 
                  required: false
            - naziv
            - jePrizorisce
            - sePlanira
            - kapaciteta
            - opis
            - popa
            - naslov
        hydrator:
            lookups:
                - popa
                - naslov
lists:
    default: 
        filter: 
            elements: 
                - name: q
                  type: text
                  options:
                    required: false
                    placeholder: Išči..
                    label: Išči
                - name: popa
                  type: text
                  options:
                    required: false
                    placeholder: Išči po poslovnem partnerju..
                    label: Poslovni partner
                - name: naslov
                  type: text
                  options:
                    required: false
                    placeholder: Išči po naslovu..
                    label: Naslov
        hydrator:
            lookups: 
                - popa
                - naslov
#    vse: 
#        filter: