## YAML Template.
---
type: rest
entityClass: Prodaja\Entity\Prostor
forms:
    default: 
        elements:
#            - id
            - name: sifra
              options: 
                  required: false
            - naziv
            - jePrizorisce
            - sePlanira
            - kapaciteta
            - opis
            - popa
            - naslov
lists:
    default: 
        filter:                
        hydrator:
            - lookups: [popa]
#    vse: 
#        filter: