body {
    color: #333333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 9px;
}

header {
    width: 100%;
    page-break-before: always;
}

footer {
    width: 100%;
    bottom: 0;
    position: absolute;
}

table {
    width: 100%;
    margin-bottom: 2em;
    border-collapse: collapse;
    border-spacing: 0;
    border-color: gray;
    table-layout: fixed;
    box-sizing: border-box;
    topntail: 0.02cm solid #c0c0c0;
}

table thead {
    page-break-inside: avoid;
}

caption {
    font-size: 12px;
    font-weight: bold;
    page-break-after: avoid;
}

th {
    padding: 2px;
}

td {
    padding: 2px;
}

td.cell-type-final {
    font-weight: bold;
}

table.horizontal th {
    /* border-bottom: 0.2mm solid #dddddd; */
    vertical-align: bottom;
    text-align: left;
}

table.horizontal td {
    vertical-align: top; 
}

.cell-type-number {
    text-align: right;
}

.cell-type-date {
    text-align: right;
}

.ime-vrstice {
    width: 25%;
}

.cell-type-header-title {
    font-size: 9px;
    font-weight: bold;
    vertical-align: top;
    text-align: left;
}

.page-break {
    page-break-after: always;
}

.page-break-avoid {
    page-break-inside: avoid;
}

.clearfix {
    clear: both;
}

/** Formatting **/
address {
    font-style: normal;
    margin-bottom: 1em;
}

address .naziv {
    font-weight: bold;
}

address .ulica { 

}

address .posta { 

}

address .drzava {
    margin-bottom: 1em;
}

address .tel { 

}

/* added styles for documents */
#dokument {
    width: 50%;
    text-align: right;
}

h2.name {
    font-size: 1.4em;
    font-weight: normal;
    margin: 0;
}

#dokument h1 {
    color: #000000;
    font-size: 2.4em;
    line-height: 1em;
    font-weight: normal;
    margin: 0  0 10px 0;
}

#dokument .date {
    font-size: 1.5em;
    color: #000000;
}

.nobordertable {
    topntail: 0;
}

.topbottomborder {
    border-top: 0.02cm solid #c0c0c0;
    border-bottom: 0.02cm solid #c0c0c0;
}

.halfwidth {
    width: 50%;
}

.right-align {
    text-align: right;
}

.left-align {
    text-align: left;
}

.alineja {
    padding-left: 3%;
}
