## YAML Template.
---
type: rest
entityClass: Prisotnost\Entity\TerminStoritve
forms:
    default: 
        disabledMethods:
            - create
        elements:
            - planiranZacetek
            - planiranKonec
    zasedenost: 
        elements:
            - planiranZacetek
            - planiranKonec
            - zasedenost
            - oseba
lists:
    default: 
        filter:
            elements:                 
                - name: oseba
                  type: toone
                  options:
                      label: Oseba
                      targetEntity: App\Entity\Oseba
                      required: false
                - name: dogodek
                  type: toone
                  options:
                      label: Dogodek
                      targetEntity: Koledar\Entity\Dogodek
                      required: false
        hydrator:
            byValue: [oseba,alternacija]

        