## YAML Template.
---
type: rest
entityClass: Prisotnost\Entity\TerminStoritve
forms:
    default: 
        elements:
#            - id
#            - deltaPlaniranZacetek
#            - deltaPlaniranKonec
            - planiranZacetek
            - planiranKonec
            - dogodek
            - alternacija
            - dezurni
            - gost
            - sodelujoc
            - zasedenost
            - virtZasedenost
            - oseba
lists:
    default: 
        filter:
            elements:                 
                - name: oseba
                  type: toone
                  options:
                      label: Oseba
                      targetEntity: App\Entity\Oseba
                      required: false
        hydrator:
            byValue: [oseba,alternacija]

        