## YAML Template.
---
type: rest
entityClass: Prisotnost\Entity\TerminStoritve
forms:
    default: 
        elements:
#            - id
            - planiranZacetek
            - planiranKonec
            - zacetek
            - konec
            - planiranoTraja
            - dogodek
            - alternacija
            - oseba
lists:
    default: 
        filter:
            elements:                 
                - name: alternacija
                  type: toone
                  options:
                      label: Alternacija
                      targetEntity: Produkcija\Entity\Alternacija
                      required: true
        hydrator:
            - exclude: []
    vse: 
        filter:
    ure: 
        filter:
            elements:                 
                - name: dogodek
                  type: toone
                  options:
                      label: Dogodek
                      targetEntity: Koledar\Entity\Dogodek
                      required: true