## YAML Template.
---
type: rest
entityClass: Prisotnost\Entity\TerminStoritve
forms:
    default: 
        disabledMethods:
            - create
        elements:
            - planiranZacetek
            - planiranKonec
    zasedenost: 
        elements:
            - planiranZacetek
            - planiranKonec
            - zasedenost
            - oseba
lists:
    default: 
        filter:
            elements:                 
                - name: oseba
                  type: tomany
                  options:
                      label: Oseba
                      targetEntity: App\Entity\Oseba
                      required: false
                - name: dogodek
                  type: toone
                  options:
                      label: Dogodek
                      targetEntity: Koledar\Entity\Dogodek
                      required: false
                - name: zacetek
                  type: datetime
                  options:
                      label: Začetek
                      required: false
                - name: konec
                  type: datetime
                  options:
                      label: Začetek
                      required: false
hydrator:
    byValue:
        - alternacija
        - alternacija.funkcija
    lookups:
        - oseba
        - alternacija.funkcija.tipFunkcije
    virtual:
       - name: uprizoritev
         type: lookup
         targetEntity: Produkcija\Entity\Uprizoritev

        