## YAML Template.
---
type: rest
entityClass: App\Entity\Popa
forms:
    default: 
        elements:
#            - id
            - sifra
#            - tipkli           # $$ rb ko bodo opcije porihtane
#            - stakli           # $$ rb ko bodo opcije porihtane
            - naziv
            - naziv1 
            - panoga
            - email
            - url 
            - opomba
            - drzava
#            - osebe
#            - naslovi
#            - telefonske
#            - trrji
#            - pogodbe
            - idddv
            - maticna
#            - zavezanec        ## $$ rb ko bom checkbox preveril
#            - jeeu             ## $$ rb ko bom checkbox preveril
            - datZav  
            - datnZav
            - zamejstvo         #$$ zaradi testiranja na vrhu sicer spodaj
        hydrator: 
            byValue: [ naslovi,trrji, telefonske ]
            lookups: [ naslovi.drzava ]
lists:
    default: 
        hydrator:
            - exclude: []
    vse:
        filter:
hydrator:      
relation:
    default:
        osebe:
            enabled: true
            hydrator:
                exclude: []
        naslovi:
            enabled: true
            hydrator:
                exclude: []
        telefonske:
            enabled: true
            hydrator:
                exclude: []
        trrji:
            enabled: true
            hydrator:
                exclude: []
        pogodbe:
            enabled: true
            hydrator:
                exclude: []