## YAML Template.
---
type: rest
entityClass: App\Entity\Drzava
forms:
    default: 
        elements:
            - sifra            
            - name: sifraDolg
              options: 
                  required: true                                   
            - isoNum
            - isoNaziv
            - naziv
            - opomba
lists:
    default:      
        filter:
            type: simple            
        sort:           
        hydrate:
#            byValue:
#                - 
#            virtual:
#    
#            exclude:            
#                    
                