## YAML Template.
---
type: rest
disabledMethods: 
#    - list
    - update
entityClass: App\Entity\Drzava
forms:
    default: 
        elements:
            - sifra            
            - sifDolg                               
            - isoNum
            - isoNaziv
            - naziv
            - opomba
lists:
    default:      
        filter:                       
        sort: 
hydrator:
    exclude: 
        - opomba
    virtual:
        - tralala
                
