## YAML Template.
---
type: rest
entityClass: App\Entity\Oseba
forms:
    default: 
        elements:    
#            - id
            - name: sifra
              options: 
                  required: false                  
#            - kontaktnaOseba
            - naziv
            - ime
            - priimek
            - funkcija
            - srednjeIme
            - psevdonim
            - polnoIme
            - spol     
            - opombe
#            - naslovi
            - email
            - twitter
            - skype
            - fb
#            - datumRojstva
#            - emso
#            - davcna
#            - drzavljanstvo
#            - drzavaRojstva
#            - krajRojstva
#            - user         # bomo na strani userja urejali
#            - telefonske@
#            - trrji
#            - alternacije
#            - pogodbe
#            - sodelovanja
#            - zasedenost
        hydrator: 
            byValue: [naslovi, telefonske]
            exclude: [alternacije, pogodbe, sodelovanja]
    osebni: 
        elements:    
#            - id              
            - datumRojstva
            - emso
            - davcna
#            - spol     # $$ rb v filter validator haystack trenutno narobe zloži Moški in Ženska namesto M in Z
            - drzavljanstvo
            - drzavaRojstva
            - krajRojstva
#            - user         # bomo na strani userja urejali
#            - telefonske@
#            - trrji
#            - alternacije
#            - pogodbe
#            - sodelovanja 
        hydrator: 
            byValue: [trrji]
            exclude: [naslovi,telefonske,alternacije,pogodbe,sodelovanja]
            
lists:
    full: 
        hydrator: 
            byValue: [trrji, naslovi, telefonske]
    default: 
        filter: 
            elements: 
                - name: q
                  type: text
                  options:
                    required: false
                    placeholder: Išči..
                    label: Išči
                - name: naslov
                  type: text
                  options:
                    required: false
                    placeholder: Vpiši del naslova
                    label: Naslov
                    
                    
        hydrator:
            byValue: [telefonske, naslovi]
#            exclude: [trrji, datumRojstva, emso, davcna, drzavljanstvo, krajRojstva, alternacije, pogodbe, sodelovanja]
#    vse:
#        filter:
hydrator:      
relation:
    default:
        kontaktneOsebe:
            enabled: true
            hydrator:
                lookups:
                    - popa
                exclude: []
        telefonske:
            enabled: true
            hydrator:
                exclude: []
        trrji:
            enabled: true
            hydrator:
                exclude: []
        alternacije:
            enabled: true
            hydrator:
                byValue:
                    - funkcija
                    - funkcija.uprizoritev
                    - funkcija.tipFunkcije
                exclude: []
        pogodbe:
            enabled: true
            hydrator:
                byValue:
                    - alternacije
                    - alternacije.funkcija
                    - alternacije.funkcija.tipFunkcije
                    - alternacije.funkcija.uprizoritev
                exclude: []
        zaposlitve:
            enabled: true
            hydrator:
                lookups:
                    - oseba
                exclude: []
        zasedenosti:
            enabled: true
            hydrator:
                exclude: []
        avtorjiBesedil:
            enabled: true
            hydrator:
                lookups:
                    - besedilo
                exclude: []
    