## YAML Template.
---
type: rest
entityClass: App\Entity\Popa
forms:
    default: 
        elements:
#            - id
            - name: sifra
              options: 
                  required: false                  
            - stakli           
            - name: tipkli 
              options: 
                  required: false                  
            - naziv
            - naziv1 
            - panoga
            - email
            - url 
            - opomba
            - drzava
#            - osebe
#            - naslovi
#            - telefonske
#            - trrji
#            - pogodbe
            - idddv
            - maticna
#            - zavezanec        ## $$ rb ko bom checkbox preveril
#            - jeeu             ## $$ rb ko bom checkbox preveril
            - datZav  
            - datnZav
            - zamejstvo    
            - nvo
            - panoga
#            - producent
            - kupec
        hydrator: 
            byValue: [ naslovi,trrji,telefonske,kontaktneOsebe, kontaktneOsebe.oseba]
            lookups: [ naslovi.drzava, kontaktneOsebe.popa, tipkli]
            exclude: [ pogodbe, stroski]
lists:
    default: 
        hydrator:
            byValue: [ naslovi,trrji,telefonske,kontaktneOsebe, kontaktneOsebe.oseba]
            lookups: [ kontaktneOsebe.popa, tipkli]
            exclude: [pogodbe, stroski]
        filter:
            elements:
                - name: q
                  type: text
                  options:
                      required: false
                      placeholder: Išči..
                      label: Išči
                - name: naslov
                  type: text
                  options:
                      required: false
                      placeholder: Vpiši del naslova..
                      label: Naslov
                - name: kontaktna
                  type: text
                  options:
                      required: false
                      placeholder: Vpiši kontaktno osebo..
                      label: Kontaktne osebe
#    vse:
#        filter:
hydrator:      
relation:
    default:
#        osebe:
#            enabled: true
#            hydrator:
#                exclude: []
        kontaktneOsebe:
            enabled: true
            hydrator:
                exclude: []
        naslovi:
            enabled: true
            hydrator:
                exclude: []
        telefonske:
            enabled: true
            hydrator:
                exclude: []
        trrji:
            enabled: true
            hydrator:
                exclude: []
        pogodbe:
            enabled: true
            hydrator:
                exclude: []
        stroski:
            enabled: true
            hydrator:
                exclude: []
        prostori:
            enabled: true
            hydrator:
                exclude: []