## YAML Template.
---
type: rest
entityClass: App\Entity\Oseba
forms:
    default: 
        elements:    
#            - id
#            - popa
            - naziv
            - ime
            - priimek
            - funkcija
            - srednjeIme
            - psevdonim
#            - naslovi
            - email
            - datumRojstva
            - emso
            - davcna
#            - spol     # $$ rb v filter validator haystack trenutno narobe zloži Moški in Ženska namesto M in Z   
            - opombe
            - drzavljanstvo
            - drzavaRojstva
            - krajRojstva
#            - user         # bomo na strani userja urejali
#            - telefonske@
#            - trrji
#            - alternacije
#            - pogodbe
#            - sodelovanja
        hydrator: 
            byValue: [trrji, naslovi, telefonske]
lists:
    full: 
        hydrator: 
            byValue: [trrji, naslovi, telefonske]
    default: 
        hydrator:
            byValue: [telefonske, naslovi]
            exclude: [trrji, datumRojstva, emso, davcna, drzavljanstvo, krajRojstva]
    vse:
        filter:
hydrator:      
relation:
    default:
        popa:
            enabled: true
            hydrator:
                exclude: []
        telefonske:
            enabled: true
            hydrator:
                exclude: []
        trrji:
            enabled: true
            hydrator:
                exclude: []
        alternacije:
            enabled: true
            hydrator:
                exclude: []
        pogodbe:
            enabled: true
            hydrator:
                exclude: []
        sodelovanja:
            enabled: true
            hydrator:
                exclude: []
    