## YAML Template.
---
type: rest
entityClass: App\Entity\Telefonska
forms:
    default: 
        elements:
            - popa
            - oseba
            - vrsta   
            - stevilka
            - privzeta
lists:
    default: 
        hydrator:
            - exclude: []
