## YAML Template.
---
#       module/App/config/rest.postninaslov.yml
type: rest
entityClass: App\Entity\PostniNaslov
forms:
    default: 
        elements:
            - naziv
            - nazivDva
            - ulica
            - ulicaDva
            - posta
            - postaNaziv
            - pokrajina
            - jeeu      
            - privzeti   
            - oseba    
            - popa
            - drzava
lists:
    default: 
        filter:
          elements:  
            - name: oseba
              type: toone
              options:
                label: Oseba
                targetEntity: App\Entity\Oseba
                required: false
            - name: popa
              type: toone
              options:
                label: Partner
                targetEntity: App\Entity\Popa
                required: false
        hydrator:
            - exclude: []

    vse: 
        filter:                          
    