## YAML Template.
---
type: rest
entityClass: App\Entity\Posta
forms:
    default: 
        elements:
            - sifra
            - naziv
lists:
    default: 
        hydrator:
            - exclude: []
