<?php

return [
'crpalka'         => array(
        'pravila' => array(
            'pot'          => array(),
            'owningside'   => array(),
            'neowningside' => array(),
            'ident'        => array(
                'Produkcija\Entity\TipFunkcije' => true,
                'ProgramDela\Entity\TipProgramskeEnote' => true,
                'ProgramDela\Entity\TipProgramskeEnote' => true,

            ),
        ),
    ),
    'doctrine' => [
        'connection' => array(
            'orm_dest' => array(
                'driverClass' => 'Doctrine\DBAL\Driver\PDOPgSql\Driver',
                'params'      => array(
                    'host'     => 'localhost', // pusti host in port prazno za unix socket connect
                    'port'     => '5432',
                    'user'     => 'ifi',
                    'password' => 'xxxxx',
                    'dbname'   => 'database',
                )
            )
        ),
    ],
];

