<?php


return array(
    'ifigenija' => array(
        'local_dir' => ''
    ),
    'doctrine' => array(
            'priv' => array(
                'namespace' => 'private_xxxx',
            ),
            'meta' => array(
                'namespace' => 'Metadata_prod',
            ),
        'connection' => array(
            'orm_default' => array(
                'driverClass' => 'Doctrine\DBAL\Driver\PDOPgSql\Driver',
                'params' => array(
                    'host' => 'host', // pusti host in port prazno za unix socket connect
                    'port' => '5432',
                    'user' => 'user',
                    'password' => 'password',
                    'dbname' => 'dbname',
                )
            )
        ),

    )
);
